h1
{
    color: #83159d;
}

p{
    font-weight: bold;
}

main{
    border: 7px solid #83159d;
    /*
    : hrubka, ci je plna ciar alebo co, frba (nezavisi na pordi tychto srand)
     */

    padding: 20px;
    /*
    odsadenie od elemtov zvnutra od okraja mainu
     */
    margin: 50px;
    /*
    odsadenie lementu (mainu) zvonka od zvysku sveta
     */

    border-radius: 10px;

    background-color: rgba(211, 211, 211, 0.5);
}

img{
    border-radius: 20px;
    width: 25%;
    min-width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: 0.3s linear all;
}

main h1{
    color: hotpink;
    text-align: center;
}

nav{
    background-color: green !important;
    padding: 15px;
    color: white;
    font-weight: bold;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

header{
    margin-top: 100px;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#magic{
    color: red;
}

.green-color{
    color: green;
}